fastapi
uvicorn
python-dotenv
asyncpg
sqlmodel
google-generativeai
langchain
langchain-google-genai
langchain-experimental
# For Postgres connection
psycopg2-binary
sentence-transformers

redis
passlib[bcrypt]
python-jose[cryptography]
python-multipart
